<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.childprj.repository.ChildHouseRepository">

    <insert id="insertChildHouse" flushCache="true" parameterType="com.project.childprj.domain.ChildHouse">
        INSERT INTO child_house (CRNAME, CRTYPENAME, CRADDR, CRTELNO, CRHOME,
                                 NRTRROOMCNT, CRCAPAT, CRCHCNT, LA, LO, CRCARGBNAME)
        VALUES (#{CRNAME}, #{CRTYPENAME}, #{CRADDR}, #{CRTELNO}, #{CRHOME},
                #{NRTRROOMCNT}, #{CRCAPAT}, #{CRCHCNT}, #{LA}, #{LO}, #{CRCARGBNAME})
    </insert>

    <select id="selectFromCnt" resultType="com.project.childprj.domain.ChildHouse">
        SELECT *
          FROM child_house
         LIMIT #{from}, #{cnts}
    </select>

    <select id="selectCountAll" resultType="int">
        SELECT COUNT(*)
          FROM child_house
    </select>

    <select id="selectChildHouse" resultType="com.project.childprj.domain.ChildHouse">
        SELECT *
          FROM child_house
         WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.project.childprj.domain.ChildHouse">
        SELECT *
        FROM child_house
    </select>

</mapper>
